html {
    width: 100%!important;
    height: 100%!important;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 90px !important;
}

#root {
    width: 100%;
    height: 100%;
}

div.app {
    width: 100%;
    height: 100%;
}

#app-name {
    font-size: 44px;
    font-family: "Lobster", cursive;
    color: #f46524ff;
}

a.app-name {
    color: #f46524ff !important;
}

@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin-top: 140px !important;
    }
}


/*---- Navigation bar ---- */


/* #navigation-bar {
    width: 100%;
    display: sticky;
    align-items: center;
    justify-content: space-between;
}

#app-name {
    margin-left: 20px;
    align-self: flex-start;
}

div.nav-right {
    font-size: 15px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}

.nav-right>a {
    color: rgb(53, 53, 53);
}

.nav-right>a:link,
.nav-right>a:visited {
    color: rgba(#353535);
}

.nav-right>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
} */