.filter-sidebar,
.filter-sidebar2 {
    color: #fff;
    width: 250px;
    height: 100vmax;
    list-style-type: none;
    font-size: 13pt;
    margin: 0;
    padding: 15px;
    background-color: rgb(53, 53, 53);
}

.custom-filter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.custom-filter-title {
    margin: auto;
}

div.custom-filter>.custom-filter-title {
    margin-bottom: 25px;
}

.search-btn {
    width: 200px;
    font-size: 15px;
    background-color: #f46524;
    border-radius: 15px;
    border: none;
    text-align: center;
    padding: 10px;
}