.inbox-container {
    margin: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-inbox {
    margin: 0 20px 20px 0;
}

.inbox-title {
    display: flex;
    justify-content: center;
    color: #f46524;
    font-size: 30px;
    font-weight: bold;
}

.inbox-unread-title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.hover-thread-message:hover {
    background-color: #fff !important;
    color: #f46524 !important;
}

@media only screen and (max-width: 700px ) {
  div.one-inbox > a > div.hover-thread-message {
    display: flex;
    flex-direction: column;
    color: white;
    border: 4px solid rgb(126, 126, 126);
    background-color: rgb(126, 126, 126);
    border-radius: 20px !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    margin: 15px 0 !important;
  }

  .one-inbox {
    margin: 0 0 0 0;
  }

}