body,
html {
    /* width: 100%; */
    height: 100%;
}

.aboutUs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

#missionStatementSection {
    margin-top: 20px;
    margin-bottom: 13px;
}

.teamMember {
    flex-basis: 0;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* border:solid;
    border-color: springgreen; */
}

.teamMemberPhoto {
    /* border:solid; */
    flex-shrink: 0;
    margin-bottom: 10px;
}

.teamMemberPhoto>img {
    max-width: 100%;
}

.teamMemberCaption,
.teamMemberTitle,
.missionParagraphs {
    color: #353535;
}

.teamMemberCaption {
    /* The line below (position: relative) allows the github link to be placed at the very bottom */
    position: relative;
    margin-top: 20px;
    font-size: 14px;
    padding: 2px;
    /* border-style: dashed; */
   /* The line below (height: 575) gives an equal div length to all caption divs, bringing them closer to the longest caption */
    height: 575px;
    /* set a width */
}

.teamMemberTitle {
    /* display: flex; */
    margin-bottom: 20px;
    /* justify-content: center; */
    text-align: center;
    color: #f46524ff;
}

.personalGithubLink {
    text-align: center;
    /* (bottom: 0)moves the logo to the bottom of the outer div */
    bottom: 0;
    /* The position: absolute and margin: 0 auto are both used to move the inner div inside the outer div */
    position: absolute;
    margin: 0 auto;
    width: 100px;
    /* (margin-left: 80px) Allows for more centering of the element  */
    margin-left: 80px;
    
}

#githubLogo:hover {
    /* background-color: #f46524ff; */
}

.gersonGithub {
    /* margin-top: 80px; */
}

.gregGithub {
    /* text-align-last: center; */
    /* margin-top: 280px; */

}

.carolinaGithub {
    
}

.eddieGithub {
    
}

.nickGithub {
    
}

@media (max-width: 480px) {
    .teamMember {
        flex-basis: auto;
    }
    #mainDiv {
        flex-direction: column;
    }
}


/* 
.teamMember {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 20%;
} */


/* 
.teamMemberTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
} */


/* 
.teamMemberPhoto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
} */


/* 
.teamMemberCaption {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    word-wrap: break-word;
} 
*/


/* justify-content: space-around;
    justify-content: space-between;
    align-items: center; */


/* #missionStatementSection {
    
} */

#missionStatement {
    color: #f46524ff;
    font-size: 30px;
    text-align: center;
}

.missionParagraphs {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    /* font-style: italic; */
}
