body,html{
    /* width: 100%; */
    height: 100%;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

#missionStatementSection {
    margin-top: 40px;
    margin-bottom: 13px;
}

.teamMember {
    margin: 10px 10px;
}

.teamMemberPhoto {
    margin-bottom: 10px;
}
.teamMemberPhoto > img {
    max-width: 100%;
}

.teamMemberCaption, .teamMemberTitle, .missionParagraphs {
    color: #353535;
}

.teamMemberCaption {
    margin-top: 20px;
    font-size: 14px;
    /* set a width */
}

 .teamMemberTitle {
     display: flex;
    margin-bottom: 20px;
    justify-content: center;
} 

@media (max-width: 480px) {
    #mainDiv {
       flex-direction: column;
    }
}
/* 
.teamMember {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 20%;
} */
/* 
.teamMemberTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
} */
/* 
.teamMemberPhoto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
} */

/* 
.teamMemberCaption {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    word-wrap: break-word;
} 
*/

    /* justify-content: space-around;
    justify-content: space-between;
    align-items: center; */
/* #missionStatementSection {
    
} */

#missionStatement {
    color: #f46524ff;
    font-size: 30px;
    text-align: center;
}
  
  
  .missionParagraphs {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    /* font-style: italic; */
  
  }