#user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin {
    margin: 20px;
}

.background-banner {
    width: 850px;
    border-radius: 50px;
    margin: auto;
}

.sq2-edit {
    display: flex;
    justify-content: center;
    border: 5px solid #f46524;
    width: 100%;
    height: 250px;
    margin-bottom: -250px;
    border-radius: 20px;
}

#user-banner-edit {
    display: flex;
    justify-content: space-around;
}

.user-header-edit {
    font-size: 20px;
}


/* ---- faux crop image of user ---- */

.image-crop {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    border: 8px solid #fff;
}

.img-profile {
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: rgb(232, 241, 242);
    object-fit: cover;
}

#user-basic-info-edit {
    width: 40%;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info-content {
    width: 850px;
    margin: auto;
    padding: 20px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.button-size {
    width: 230px;
    height: 45px;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit {
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

.cancel {
    background-color: lightcoral;
    border: 2px solid lightcoral;
}

.submit:hover,
.cancel:hover {
    background-color: #fff;
    color: rgb(53, 53, 53);
}

.input-box-edit {
    border-radius: 30px;
    border: 2px solid lightgrey;
    text-indent: 10px;
}

input.center-submit {
    margin: auto;
}

@media only screen and (min-width: 320) and (max-width: 767px) {
    #user-banner {
        width: 50px;
    }
}