.filter-sidebar,
.filter-sidebar2 {
    color: #fff;
    width: 260px;
    height: 100vmax;
    list-style-type: none;
    font-size: 13pt;
    margin: 0;
    padding: 15px;
    background-color: rgb(53, 53, 53);
}

.custom-filter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.custom-filter-title {
    margin: auto;
}

div.custom-filter>.custom-filter-title {
    margin-bottom: 25px;
}

.search-btn {
    width: 200px;
    font-size: 15px;
    background-color: #f46524;
    border-radius: 15px;
    border: none;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    #main-filter-sidebar,
    .app-name {
        display: none;
    }
    /* .navBar-loggedIn { */
    #results-map {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .mobile-logged-In {
        margin-top: -50px;
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    #main-filter-sidebar,
    .navBar-loggedIn {
        display: none;
    }
    #results-map {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .mobile-logged-In {
        margin-top: -50px;
        display: none;
    }
    div#search-header {
        font-size: 20px;
    }
}