.filter-sidebar {
    color: #fff;
    width: 300px;
    height: 100v;
    list-style-type: none;
    font-size: 13pt;
    margin: 0;
    padding: 15px;
    background-color: rgb(53, 53, 53);
}

.custom-filter {
    text-align: center;
}

.search-btn {
    width: 230px;
    height: 34px;
    background-color: rgb(253, 170, 62);
    border-radius: 15px;
    border: none;
}

.find-statement {
    font-size: 13px;
}

