#user-profile {
    /* background-color: powderblue; */
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.img-banner {
    background-color: rgba(253, 142, 38, 0.432);
    border-radius: 50px;
    text-align: center;
}
/* ---- faux crop image of user ---- */
.image-header-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    margin: 10px auto;
    overflow: hidden;
}

.img {
    width: 100%;
    margin: auto;
}

.user-info-content {
    background-color: pink;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

#quick-user-info {
    display: flex;
    justify-content: space-around;
}

.margin-top {
    margin-top: 20px;
}

#chat-box {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

#message-box,
#message-box::placeholder {
    font-size: 16px;
    text-indent: 10px;
}

.chat-buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.button-size {
    width: 230px;
    height: 45px;
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit{
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

.clear {
    background-color: lightcoral;
    border: 2px solid lightcoral;
}

.submit:hover,
.clear:hover {
    background-color: #fff;
    color: rgb(53, 53, 53);
}