#search-results {
    /* width: 80%; */
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card {
    margin: 10px 10px;
    box-shadow: 0px 0px 7px 0px rgb(253, 170, 62);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}



.horizontal {
    width: 280px;
    height: 260px;
}

.profile-content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content a {
    color: rgb(53, 53, 53);
    font-variant: small-caps;
    font-style: italic;
}

.profile-card:hover,
.profile-content a:hover {
    background-color: #FD8F26;
    color: #fff;
}

.img-container {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 7px 0px lightgray;
    border-radius: 50%;
    overflow: hidden;
}

.img-profile-card {
    width: 150px;
    height: 150px;
    background-color: rgb(232, 241, 242);
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#username {
    text-align: center;
}

#firstname-lastname{
    text-align: center;
    text-transform: uppercase;
}