.survey-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#survey-title {
    color: rgb(242, 101, 49);
    font-size: 30px;
}

#questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.question-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(232, 241, 242);
    border: 10px double rgb(253, 170, 62)
}
