.survey-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#survey-title {
    color: rgb(242, 101, 49);
    font-size: 30px;
    text-align: center;
}

#questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.the-question {
    color: rgb(242, 101, 49);
}

.question-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 360px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px gray;
}