#app-name {
    font-size: 44px;
    font-family: 'Lobster', cursive;
    color: #f46524ff;
}


/*---- Navigation bar ---- */

#navigation-bar {
    z-index: 9999;
    background-color: white;
    overflow: auto;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

#navigation-bar-loggedin {
    background-color: white;
    overflow: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#app-name {
    margin-left: 20px;
    align-self: flex-start;
}

div.nav-right {
    font-size: 15px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: baseline;
}

.nav-right>a {
    color: rgb(53, 53, 53);
}

.nav-right>a:link,
.nav-right>a:visited {
    color: rgba(#353535);
}

.nav-right>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
}

div.nav-right-loggedin {
    font-size: 15px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: baseline;
}

.nav-right-loggedin>a {
    color: rgb(53, 53, 53);
}

.nav-right-loggedin>a:link,
.nav-right-loggedin>a:visited {
    color: rgba(#353535);
}

.nav-right-loggedin>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
}

#logout-button {
    width: 110px;
    background-color: #f46524ff;
    border-radius: 15px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #f46524ff;
}

#logout-button:hover {
    background-color: #fff;
    color: rgb(53, 53, 53);
}