.app-name {
    font-size: 44px;
    font-family: 'Lobster', cursive;
    color: #f46524ff;
}

.app-name:hover {
    color: #f46524ff
}

/*---- Navigation bar ---- */

#navigation-bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    z-index: 9999;
    overflow: auto;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    box-shadow: 0px 0px 7px 0px lightgray;    
}

div.navbar-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

div.nav-bar .nav_toggle {
    float: right;
}

#logout-button {
    display: inline-flex;
}

#myNavbar {
    display: flex;
    flex-direction: row;
}

.navbar-items {
    display: inline-flex;
    justify-content: flex-end
}

#navigation-bar-loggedin {
    background-color: white;
    overflow: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-name-container {
    display: inline-flex;
}

.app-name {
    float: left;
    margin-left: 20px;
    align-self: flex-start;
}

div.nav-right {
  font-size: 15px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
  align-items: center;
}

div.nav-left {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

#nav-torch {
  height: 60px;
  /* margin-top: 10px; */
  float: left;
}

/* nav-right-items {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
}
 */
.nav-mid {
  position: relative;
  margin-left: 15%;
}

.nav-right>a {
    color: rgb(53, 53, 53);
}

.nav-right>a:link,
.nav-right>a:visited {
    color: rgba(#353535);
}

.nav-right>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
}

div.nav-right-loggedin {
    font-size: 15px;
    width: 410px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

.nav-right-loggedin>a {
    color: rgb(53, 53, 53);
}

.nav-right-loggedin>a:link,
.nav-right-loggedin>a:visited {
    color: rgba(#353535);
}

.nav-right-loggedin>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
}

.container-fluid {
    /* background-color: white; */
    border: none;
}

.nnavbar-inverse {
    border: none;
}

#logout-button {
    width: 110px;
    background-color: #f46524ff;
    border-radius: 15px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #f46524ff;
    display: flex;
    justify-content: center;
}

#logout-button:hover {
    background-color: #fff;
    color: rgb(53, 53, 53);
}

.inbox-link {
    display: inline-flex;
    justify-content: baseline;
    align-self: baseline;
    text-decoration-line: none;
}

.inbox-link:link {
    text-decoration: none;
}

.red {
    width: 100%;
    height: 22px;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    margin-left: -6px;
    margin-top: -5px;
    color: white;
    background-color: red;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    #main-filter-sidebar {
        display: none;
    }
    #navigation-bar {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        box-shadow: 0px 0px 7px 0px lightgray;
        
        /* z-index: 5; */
    }
    .app-name {
        margin: 0 auto;
    }
    .nav-right-loggedin {
        width: 100% !important;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    #results-map {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .mobile-logged-In {
        margin-top: -50px;
        display: none;
    }
    .nav-mid {
        display: none;
    }
}

/* @media only screen and (max-width: 300px) {

    #results-map {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .mobile-logged-In {
        margin-top: -50px;
        display: none;
    }
    div#search-header {
        font-size: 20px;
    }
} */