.app-name {
    font-size: 44px;
    font-family: 'Lobster', cursive;
    color: #f46524ff;
}


/*---- Navigation bar ---- */

#navigation-bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    z-index: 9999;
    overflow: auto;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

div.navbar-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

div.nav-bar .nav_toggle {
    float: right;
}

#logout-button {
    display: inline-flex;
}

#myNavbar {
    display: flex;
    flex-direction: row;
}

.navbar-items {
    display: inline-flex;
    justify-content: flex-end
}

#navigation-bar-loggedin {
    background-color: white;
    overflow: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-name-container {
    display: inline-flex;
}

.app-name {
    float: left;
    margin-left: 20px;
    align-self: flex-start;
}

div.nav-right {
    font-size: 15px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}


/* nav-right-items {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
}
 */

.nav-right>a {
    color: rgb(53, 53, 53);
}

.nav-right>a:link,
.nav-right>a:visited {
    color: rgba(#353535);
}

.nav-right>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
}

div.nav-right-loggedin {
    font-size: 15px;
    width: 550px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

.nav-right-loggedin>a {
    color: rgb(53, 53, 53);
}

.nav-right-loggedin>a:link,
.nav-right-loggedin>a:visited {
    color: rgba(#353535);
}

.nav-right-loggedin>a:hover {
    color: rgb(222, 88, 64);
    text-decoration: none;
}

.container-fluid {
    /* background-color: white; */
    border: none;
}

.nnavbar-inverse {
    border: none;
}

#logout-button {
    width: 110px;
    background-color: #f46524ff;
    border-radius: 15px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #f46524ff;
}

#logout-button:hover {
    background-color: #fff;
    color: rgb(53, 53, 53);
}

.inbox-link {
    display: inline-flex;
    justify-content: baseline;
    align-self: baseline;
    text-decoration-line: none;
}

.inbox-link:link {
    text-decoration: none;
}

.red {
    width: 100%;
    height: 22px;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    margin-left: -6px;
    margin-top: -5px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*---- HAMBURGER MENU ---- */


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body {
    margin: 0;
    padding: 0;
    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: relative;
    top: 93px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 50%;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
  * Just a quick hamburger
  */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


/*
  * But let's hide the middle one.
  */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
  * Ohyeah and the last one should go the other direction
  */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*
  * Make this absolute positioned
  * at the top left of the screen
  */

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

ul#menu {
    display: inline-grid;
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

#menu {
    padding: 10px 0;
    font-size: 22px;
}


/*
  * And let's slide it in from the left
  */

#menuToggle input:checked~ul {
    transform: none;
}