#thread-messages-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thread-message-title {
    text-align: center;
    color: #f46524;
}

.conversation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 850px;
    box-shadow: 0px 0px 7px 0px lightgray;
    padding: 20px;
    font-size: 16px;
    border-radius: 50px 50px;
}

.chatbox-thread {
    display: flex;
    align-self: flex-end;
}
